.main
  .container
    display: flex
    justify-content: space-between
    border-bottom: black solid 1px
    margin-bottom: 5px
    .fullName
      width: 150px
      display: flex
      flex-direction: column
      margin-right: 10px
    .information
      display: flex
      width: 250px
      flex-direction: column
      span
        margin-bottom: 5px
    .imgBtns
      display: flex
      .editBtns
        div
          margin-left: 5px
          margin-bottom: 5px
          width: 18px
          height: 18px
          cursor: pointer
      .deleteBtns
        div
          margin-left: 5px
          margin-bottom: 5px
          width: 18px
          height: 18px
          cursor: pointer

.modal
  .b
    display: flex
    button
      margin: 5px
      cursor: pointer

